<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>

  
    <h1>Cooper's Web App</h1>
  </div>

  <input class="search" type="text" placeholder="Enter Keytag Barcode">
  <button type="button" onClick="userSearch()">Search</button>

  <div class="city">

  </div>
  <div class="dob">

  </div>
  <div class="error-message">

  </div>
  
</body>

</html>